{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile Leonardo Ignatius</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        .foto {
            width: 300px;
            height: 300px;
            border-radius: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            animation:  turun 2s alternate;
        }
        
        body {
            background: linear-gradient(276deg, #00ffbd, #ff6c00);
            background-size: 400% 400%;
            animation: BGjalan 6s ease infinite;
        }
        
        .nama {
            font-family: Helvetica;
            color: aliceblue;
            text-align: center;
            vertical-align: middle;
            animation: fadein2 3s forwards;
        }
        
        .biodata{
            font-family: 'Open Sans', sans-serif;
            color: transparent;
            text-align: center;
            vertical-align: middle;
            animation: fadein1 2s forwards;
            animation-delay: 1s;
            font-size: 120%;
        }
        
        #socmed{
            font-family: 'Open Sans', sans-serif;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 15px;
            animation: fadein2 2s forwards;
        
        }
        .icon{
            height: 25px;
            width: 25px;
            display: flex;
            margin-left: 43%;
            margin-right: 57%;
            flex: 50%;
            padding: 4px;
            animation: fadein1 2s forwards;
            animation-delay: 1.5s;
            padding: 10px;
        
        }
        @keyframes fadein1{
            from{color: transparent;}
            to{color: aliceblue;}
        }
        
        @keyframes fadein2{
            from{color: transparent;}
            to{color: aliceblue;}
        }
        
        @keyframes BGjalan { 
            0%{background-position:15% 0%}
            50%{background-position:86% 100%}
            100%{background-position:15% 0%}
        }
        
        @keyframes turun{
            from{transform: scale(0);}
            to{transform: scale(1);}
        }
        </style>
</head>
<body>
    <div class="foto">
        <img class="foto" src="https://i.postimg.cc/gkcGfy1T/Pas-Photo-Copy.jpg" alt="pas photo">
    </div>
    <div class="nama">
        <h1>{{ name }}</h1>
    </div>
    <div class="biodata">
        <!--TTL-->
        <h2>Tempat dan Tanggal Lahir:</h2> 
        <p>Jakarta, 18 September 2001</p>
        <!--Asal daerah-->
        <h2>Asal Daerah:</h2> 
        <p>Jakarta</p>
        <!--Pekerjaan Pendidikan-->
        <h2>Pekerjaan Dan Pendidikan:</h2> 
        <p>Promotion Team Binus University, Mahasiswa Baru IT Binus University</p>
        <!--Harapan-->
        <h2>Harapan Mengikuti Kelas ini:</h2> 
        <p>Dapat mendapatkan Experience dan Networking, dan juga mendalami Web Programming</p>
        <h2>Umur:</h2>
        <article>{{ age }} Tahun</article>
    </div>
    <div id="socmed">
        <p id="socmed">Click here for Social Media:</p>
    </div>
    <div class="icon">
       <a href="https://www.instagram.com/leonardoignatius/?hl=en">
        <img class="icon" src="https://i.postimg.cc/pdmT3Q5H/Instagram-logo.png" alt="ig">
       </a> 
       <a href="https://www.facebook.com/leonardo.ignatius.5">
        <img class="icon" src="https://i.postimg.cc/8zjNCppd/1024px-F-icon-svg.png" alt="fb">
       </a> 
       <a href="https://id.linkedin.com/in/leonardo-ignatius-4bba20184">
        <img class="icon" src="https://i.postimg.cc/vHPGMgsH/square-linkedin-512.png" alt="li">
       </a>
        
    </div>
</body>
</html>